#aboutMe {
    height: fit-content;
    font-family: 'Kanit', sans-serif;
    color: #ffffff;
    font-weight: lighter;
}
#topic-am{
    background-color: #1A1A2E;
    width: fit-content;
    margin: auto;
    padding-bottom: 3px;
}
.first-row-am{
    background-color: #1A1A2E;
    margin: 5px;

}
.second-row-am{
    background-color: #1A1A2E;
    padding-top: 10px;
    padding-bottom: 10px;
}
#avatar {
    width: 150px;
    max-width: 100%;
    height: auto;
    padding: 5px;
    box-shadow: 0px 0px 10px 1px #000000;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
}

.logo {
    width: 30px;
    height: 30px;
}

.skill {
    width: auto;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}
#p-aboutme{
    background-color: #A30029;
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    margin: auto;
    width: 95%;
}
h5#name{
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
}

h5#nickname {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: medium;
}
.am-icon{
    color:#ffffff;
}