#footer {
    background-color: #A30029;
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
    color: #fafafa;
    font-weight: lighter;
    margin-top: 200px;
}

.amongus {
    width: 30px;
    height: 30px;
    border-radius: 40%;
}

.copyright {
    font-size: smaller;
    opacity: 0.5;
}