@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

div {
    margin: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    float: left;
    display: block;
    padding: 20px;
    background-color: #003166;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;

}

li:hover {
    background-color: #021e3b;
    
}
span {
    display: inline-block;
}
.NavText:hover {
    animation: gelatine 0.6s infinite;
}

@keyframes gelatine {

    from,
    to {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

#me {
    border-radius: 35px 0px 0px 35px;
    border-right:1px solid black;
}

#project {
    border-radius: 0px 35px 35px 0px;
}

a {
    color: white;
}

.icon {
    padding-right: 8px;
}